In [34]:
#import library
from IPython.display import display, HTML
import pandas as pd
import numpy as np
import pickle
import re
from IPython.display import display, HTML

In [35]:
asian_country = {}

In [36]:
#Fetch Asian countried from www.worldometers.info
country= pd.read_html('https://www.worldometers.info/geography/how-many-countries-in-asia/')

In [37]:
asian_country = country[0]['Country']

In [38]:
asian_country

0                    China
1                    India
2                Indonesia
3                 Pakistan
4               Bangladesh
5                    Japan
6              Philippines
7                  Vietnam
8                   Turkey
9                     Iran
10                Thailand
11                 Myanmar
12             South Korea
13                    Iraq
14             Afghanistan
15            Saudi Arabia
16              Uzbekistan
17                Malaysia
18                   Yemen
19                   Nepal
20             North Korea
21               Sri Lanka
22              Kazakhstan
23                   Syria
24                Cambodia
25                  Jordan
26              Azerbaijan
27    United Arab Emirates
28              Tajikistan
29                  Israel
30                    Laos
31                 Lebanon
32              Kyrgyzstan
33            Turkmenistan
34               Singapore
35                    Oman
36      State of Palestine
37                  Kuwait
38                 Georgia
39                Mongolia
40                 Armenia
41                   Qatar
42                 Bahrain
43             Timor-Leste
44                  Cyprus
45                  Bhutan
46                Maldives
47                  Brunei
Name: Country, dtype: object

In [39]:
#Featch data of deaths  by cause
df=pd.read_csv("annual-number-of-deaths-by-cause.csv")

In [40]:
df

,Entity,Code,Year,Execution,Meningitis (deaths),Lower respiratory infections (deaths),Intestinal infectious diseases (deaths),Protein-energy malnutrition (deaths),Terrorism (deaths),Cardiovascular diseases (deaths),...,Neonatal disorders (deaths),Alcohol use disorders (deaths),Natural disasters (deaths),Diarrheal diseases (deaths),Heat (hot and cold exposure) (deaths),Nutritional deficiencies (deaths),Suicide (deaths),Conflict (deaths),Diabetes (deaths),Poisonings (deaths)
0,Afghanistan,AFG,1990,NaN,6469.977091,22836.912346,295.382207,1607.703797,12.0,46498.085024,...,18075.800290,75.595221,0.000000,8817.260208,226.789403,1667.386134,740.448500,1489.999290,3361.736409,170.742286
1,Afghanistan,AFG,1991,NaN,6347.158764,22325.633931,303.866598,1558.132316,68.0,46967.361037,...,18349.129972,76.109641,1349.999434,8588.463794,164.830417,1616.756233,762.245179,3370.000153,3362.470217,172.032657
2,Afghanistan,AFG,1992,NaN,6659.741428,23205.280750,317.750121,1617.721576,49.0,48355.558515,...,19982.149565,81.138310,614.000083,8924.932420,92.522183,1678.557625,856.912927,4343.997795,3445.705567,190.404111
3,Afghanistan,AFG,1993,NaN,8068.386263,28229.715397,333.978331,1931.808553,NaN,50072.563899,...,27291.235292,87.514744,109.999998,11976.501319,104.167461,2001.122436,975.603772,4097.000207,3563.236367,217.622614
4,Afghanistan,AFG,1994,NaN,9432.845127,32652.297630,348.419085,2351.629206,22.0,51416.815442,...,29862.680874,90.464149,160.000003,13296.448475,112.072652,2434.014268,1028.742412,8959.000461,3639.707847,236.240573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6681,Zimbabwe,ZWE,2013,NaN,1820.090331,13108.151347,25.015658,3507.171892,1.0,16900.858090,...,9439.290155,73.649954,125.000002,5129.483596,44.403541,3557.450127,2561.496069,7.000000,2599.112561,410.802638
6682,Zimbabwe,ZWE,2014,NaN,1769.993458,12841.510671,25.623337,3380.319464,0.0,16755.843066,...,9106.657298,73.460128,8.500000,4946.075661,43.073231,3428.811706,2554.170577,3.000000,2625.681137,406.351616
6683,Zimbabwe,ZWE,2015,NaN,1728.691503,12637.728613,25.415872,3263.941226,NaN,16691.109079,...,8887.033499,74.605887,15.500000,4737.642966,42.139866,3310.899062,2583.031015,12.000000,2657.480378,404.641729
6684,Zimbabwe,ZWE,2016,NaN,1703.437894,12495.147292,25.752116,3188.723249,NaN,16781.946571,...,8653.776455,75.907792,31.000000,4602.100769,41.675497,3235.070735,2619.243794,6.000000,2712.995017,405.940831
6685,Zimbabwe,ZWE,2017,NaN,1677.007331,12369.654705,NaN,3111.873502,0.0,16976.902369,...,8411.915534,77.192339,0.000000,4602.593760,41.433611,3157.591804,2647.468528,5.000000,2746.739645,405.377266

In [41]:
#We are interested in cancer data so lets filter it
df_cancer=df[['Entity','Year','Cancers (deaths)']]

In [42]:
df_cancer

           Entity  Year  Cancers (deaths)
0     Afghanistan  1990      10061.873743
1     Afghanistan  1991      10171.333511
2     Afghanistan  1992      10592.367581
3     Afghanistan  1993      11126.644646
4     Afghanistan  1994      11477.937575
...           ...   ...               ...
6681     Zimbabwe  2013      10773.570087
6682     Zimbabwe  2014      10856.786196
6683     Zimbabwe  2015      11005.829309
6684     Zimbabwe  2016      11240.734416
6685     Zimbabwe  2017      11439.822731

[6686 rows x 3 columns]

In [43]:
df_year = df_cancer.pivot_table('Cancers (deaths)', ['Entity'], 'Year')

In [44]:
df_year

Year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Entity,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1.006187e+04,1.017133e+04,1.059237e+04,1.112664e+04,1.147794e+04,1.171127e+04,1.189888e+04,1.210952e+04,1.228351e+04,1.243546e+04,...,1.438528e+04,1.445835e+04,1.464575e+04,1.486881e+04,1.506556e+04,1.542655e+04,1.571235e+04,1.590234e+04,1.624483e+04,1.667046e+04
Albania,2.405903e+03,2.526633e+03,2.512487e+03,2.482431e+03,2.429924e+03,2.498771e+03,2.639036e+03,2.770471e+03,2.931134e+03,3.052528e+03,...,3.555702e+03,3.594972e+03,3.662284e+03,3.770340e+03,3.860448e+03,3.963187e+03,4.085153e+03,4.174659e+03,4.266162e+03,4.344973e+03
Algeria,9.624533e+03,9.948851e+03,1.024015e+04,1.054908e+04,1.084758e+04,1.118950e+04,1.146420e+04,1.178483e+04,1.205954e+04,1.247636e+04,...,1.710647e+04,1.775475e+04,1.824172e+04,1.860297e+04,1.898822e+04,1.944131e+04,1.996313e+04,2.051482e+04,2.104214e+04,2.165608e+04
American Samoa,3.114986e+01,3.217777e+01,3.301458e+01,3.361572e+01,3.438169e+01,3.518395e+01,3.586318e+01,3.645028e+01,3.742329e+01,3.755071e+01,...,4.792680e+01,4.920357e+01,5.006850e+01,5.157283e+01,5.279388e+01,5.418623e+01,5.519177e+01,5.657898e+01,5.764740e+01,5.882125e+01
Andean Latin America,2.574643e+04,2.640701e+04,2.806841e+04,2.917387e+04,3.008738e+04,3.122737e+04,3.217096e+04,3.311067e+04,3.446572e+04,3.512538e+04,...,4.615918e+04,4.861493e+04,5.007332e+04,5.099087e+04,5.161506e+04,5.204129e+04,5.252082e+04,5.336982e+04,5.514683e+04,5.680552e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Sub-Saharan Africa,1.076908e+05,1.093598e+05,1.116522e+05,1.138852e+05,1.166414e+05,1.195402e+05,1.218013e+05,1.243206e+05,1.267760e+05,1.293076e+05,...,1.575548e+05,1.623061e+05,1.679629e+05,1.731934e+05,1.793055e+05,1.853169e+05,1.922315e+05,1.993516e+05,2.071152e+05,2.124447e+05
World,5.753106e+06,5.882381e+06,6.011481e+06,6.173634e+06,6.291743e+06,6.401372e+06,6.476965e+06,6.557125e+06,6.664767e+06,6.795529e+06,...,7.790648e+06,7.957789e+06,8.131219e+06,8.294165e+06,8.460522e+06,8.617752e+06,8.861703e+06,9.164466e+06,9.403124e+06,9.556245e+06
Yemen,4.805081e+03,4.953186e+03,5.121706e+03,5.301496e+03,5.479385e+03,5.655733e+03,5.838509e+03,6.026202e+03,6.203047e+03,6.422069e+03,...,8.863275e+03,9.170641e+03,9.471727e+03,9.765173e+03,1.003676e+04,1.036754e+04,1.069832e+04,1.109456e+04,1.150982e+04,1.194214e+04
Zambia,5.430494e+03,5.689351e+03,5.936481e+03,6.149497e+03,6.336720e+03,6.467903e+03,6.529999e+03,6.518602e+03,6.466256e+03,6.321472e+03,...,6.409944e+03,6.594255e+03,6.859396e+03,7.129826e+03,7.353760e+03,7.582945e+03,7.840481e+03,8.156327e+03,8.506857e+03,8.825995e+03
Zimbabwe,5.936996e+03,6.071848e+03,6.298150e+03,6.553475e+03,6.860354e+03,7.240397e+03,7.503929e+03,7.957928e+03,8.680726e+03,9.470640e+03,...,1.125540e+04,1.123547e+04,1.110428e+04,1.088582e+04,1.077644e+04,1.077357e+04,1.085679e+04,1.100583e+04,1.124073e+04,1.143982e+04

In [45]:
df_year.reset_index(inplace=True)

In [46]:
#filter data for asian countries
df_year = df_year[df_year.Entity.isin(asian_country)]

In [47]:
#Data is redy for visulization lest export it into csv file
df_year.to_csv (r'C:\Users\z0040vsk\Downloads\export_dataframe.csv', index = False, header=True)

In [ ]:
<div class="flourish-embed" data-src="story/203174"><script src="https://public.flourish.studio/resources/embed.js"></script></div>